
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400&display=swap');

 * {
  font-family: 'Roboto Slab', serif;
  color: white
  }

.display {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content:flex-start;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  width: 900px;
  height: 600px;
  margin: 30px auto;
  border-radius: 10px;
  
  }
  .today {
    font-size: larger;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: flex-start;
   /* margin-left: 100px; */
    width: 600px;
    height: 150px;
    gap: 0;
    padding: 20px;
    border-radius: 10px;
    /* background-color: blue; */
  }
  
  .todayData {
    flex: 1;
    text-align: start;
    padding:0;
    margin: 5px 5px 5px 20px;
    width: 250px;
    /* background-color: yellow; */
  
  }
  
  .weatherEmoji {
    /* flex: 0 0 auto; */
display: flex;
align-items: flex-end;
    text-align:center;
    padding-top:150px;
    margin-top:10px;
    font-size:75px;
    width: 200px;
    height: 200px;
    /* background-color: red; */
  }

  

  .emoji {
    font-size: 5em;
    margin: 0;
    padding: 0;
  }

  .emoji2 {
    font-size: 10px;
    margin: 0;
    padding: 0;
    width: 100px;
    height: 100px;
    background-color: brown;
  }
  
/* 
  .weatherEmoji {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: flex-start;
    margin: 0px auto;
    width: 300px;
    height: 150px;
  padding: 0;
    border-radius: 10px;
  }
  .todayData {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: flex-start;
    margin: 0px auto;
    width: 300px;
    height: 150px;
    padding: 0;
    border-radius: 10px;
  }

  .today {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    text-align: center;
    justify-content: flex-start;
    margin: 0px auto;
    width: 300px;
    height: 150px;
    gap: 0;
    padding: 20px;
    border-radius: 10px;
  } */




.today h1{
  margin: 0.2em 0;
  font-size: 2.5em;
  font-weight: 1000px;
}


body {
  font-family: Lobster;
  font-size: 10px;
  background-image: url("./Photos/SunnySkiesv4.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.forecast {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin: 15px auto;
  width: 160px;
  height: 160px;
  padding: 30px 20px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

.forecast h1{
  margin: 0.2em 0;
}

.forecastTogether{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width : 650px;
  margin: 20px auto;
  border-radius: 10px;
}

.search {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  height : 100px;
  border-radius: 10px;
  color: black;
}

.search > input,.search > button  {
 color: black
}

input {
  border-radius: 10px 0 0 10px;
  border: 1px solid #ccc;
  padding: 10px;
}
button {
  border-radius: 0 10px 10px 0;
  border: 1px solid #ccc;
  padding: 10px;
}