.today {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0px auto;
  width: 600px;
  height: 150px;
  padding: 20px;
  border-radius: 10px;
}

.today h1{
  margin: 0.2em 0;
}


body {
  font-family: Lobster;
  font-size: 10px;
  background-image: url("./Photos/SunnySkiesv3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.forecast {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 100px;
  height: 100px;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

.forecast h1{
  margin: 0.2em 0;
}

.forecastTogether{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width : 450px;
  margin: 0 auto;
  border-radius: 10px;
}

.search {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  height : 100px;
  border-radius: 10px;
}

input {
  border-radius: 10px 0 0 10px;
  border: 1px solid #ccc;
  padding: 10px;
}
button {
  border-radius: 0 10px 10px 0;
  border: 1px solid #ccc;
  padding: 10px;
}